<a href="https://colab.research.google.com/github/khloemaritonigloria08/CPEN-21A-ECE-2-1/blob/main/GLORIA_BSECE_2-1_DEMO1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python Programming

In [2]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Python Variable

In [4]:
x =  1
a, b = 0, 1
a,b,c="zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [5]:
d = "Khloe" #This is a string
D="Gloria"
print(d)
e = "Maritoni"
print(e)
print(D)

Khloe
Maritoni
Gloria

In [6]:
print(type(d)) #This is a Type function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [7]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

#Multiple Variables with One Value

In [8]:
x = y = z ="eight"
print(x)
print(y)
print(z)

eight
eight
eight

In [9]:
x ="enjoying"
print("Python Programming is" " " +x)

Python Programming is enjoying

#Operations in Python

In [10]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [11]:
x = 5
y = 7
not(x>y or y==x)

True

In [12]:
x is y

False

In [13]:
x is not y

True